$default_color: white;

body, html{
  width:100%;
  height:100%;
  background: transparent !important;
}

.btn-theme{
  background:transparent !important;
  border:1px solid $default_color !important;
  color:$default_color !important;
  border-radius:100px !important;
  padding:10px 25px !important;
}

.btn-theme:hover{
  background:white !important;
  color: red !important;
}

.navbar{
  z-index:1000;
  background: transparent !important;
  position: absolute !important;

  .navbar-brand{
    color: $default_color !important;
    font-size:1.5rem;
    letter-spacing: .2rem;
  }

  .nav-link{
    color: $default_color !important;
    margin:0rem 0.5rem;
  }
}

.main{
  position: static;
  width:100%;
  height:100vh;
  background-image: url("./assets/img/bg.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .main-header{
    color: $default_color;
  }

  .main-title-desc{
    opacity:.3;
  }

  .scroll-text{
    color:rgba(255,255,255,0.5) !important;
  }

  .scroll-img{
    transition-duration: 300ms;
    animation: scrollAnimation 1s linear 1s infinite alternate;
  }

  .scroll-img:hover{
    cursor:pointer;
  }
}

.icons-main{
      background: #F6F6F6 !important;

    .icons-box{
      padding-top:50px;

      .icon-title{
      font-size: 2rem;
    	background: linear-gradient(to right, #c40101 35%, #febf01 100%);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    }
  }

  .button-box{
    padding-top:100px;
    padding-bottom: 100px;
  }
}

.btn-ask{
  border-radius:200px !important;
  background: linear-gradient(to right, rgba(37,70,153,1) 0%,rgba(37,70,153,1) 34%,rgba(71,99,169,1) 100%);
  width:200px;
  color:white;
  padding:10px 0px !important;
}

.head-title{
  font-size: 3rem;
  background: linear-gradient(to right, #c40101 0%, #febf01 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.media-desc{
  font-size:.8rem;
  color:#A7ACBC;
}


.main-video{
  width:100%;
  background:#F6F6F6 !important;
    @media screen and (max-width: 1100px) {
    text-align:center;
    padding:0 !important;
    margin:0 !important;

    .head-desc{
      padding:10px 0px !important;
      width:75%;
      margin: auto;
    }

    .head-title{
      padding: 0 !important;
    }

    .nature-main{

      .head-desc{
        padding:10px 0px !important;
        width:75%;
        margin: auto;
        text-align:center;
      }

      .head-title{
        padding: 0 !important;
        text-align:center;
      }
    }

  }
}

.newsletter-box{
  width:100%;
  background-image:url("./assets/img/newsletter_bg.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .email-input{
    border-radius:100px;
    color:white !important;
    background: rgba(255,255,255,0.1);
    border-color: rgba(255,255,255,0.2);
    width:250px !important;
  }

  .send-button{
    position:relative;
    left:-30px;
    border-radius:100px;
    color:red;
    background:white !important;
    border:1px solid white;
    width:100px !important;
  }

  .email-input:active{
    border:0 !important;
  }

  .set-button:hover{
    border:0 !important;
    color:red;
  }

  ::placeholder{
    color:white !important;
  }
}

.map-responsive{
}


@keyframes scrollAnimation{
  25%{transform: scale(1.10,1.10)}
  50%{transfrom: scale(1,1)}
  75%{transform: scale(1.10,1.10)}
  100%{transfrom: scale(1,1)}
}
